.cerceve{
	height:1200px;
	width:900px;
	outline-style:solid;
	outline-width:1px;
	margin: auto;
	padding-top:50px;
	
	
}
.kategori{
	display: flex;
	height:100px;
    width:800px;
    outline-style:solid;
	outline-width:1px;
	margin:auto;
	
	
}.kategoriAlan{
	height:20px;
	width:100px;
	outline-style:solid;
	outline-width:1px;
	border-style: solid;
	border-color: red;

}
div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  height:100px;
  width:800px;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}