.deneme{
	height:900px;
	width:700px;
	outline-style:solid;
	outline-width:1px;
	margin: auto;
	padding-top:100px;
}
.deneme1{
	height:750px;
    width:600px;
    outline-style:solid;
	outline-width:1px;
	margin:auto;
	
    

}
