.cerceve{
	height:1200px;
	width:900px;
	outline-style:solid;
	outline-width:1px;
	margin: auto;
	padding-top:50px;
	border-style: solid;
	border-color: green;
}
.kategori{
	display: flex;
	height:100px;
    width:800px;
    outline-style:solid;
	outline-width:1px;
	margin:auto;
	border-style: solid;
	border-color: blue;
	
    

}.kategoriAlan{
	height:20px;
	width:100px;
	outline-style:solid;
	outline-width:1px;
	border-style: solid;
	border-color: red;

}
